.wrap {
  position: relative;
  margin: 30px auto 0 auto;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

#notification {
  font-weight: 600;
  cursor: default;
}

/*? 리스트 영역 스타일링 */
.notify {
  width: 660px;
  height: 730px;
  margin: 20px auto 0 auto;
  border: 2px solid black;
  background-color: #eeeeeea6;
}

.notify-wrap {
  display: grid;
  margin: 10px 10px 0;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-row-gap: 27px;
  grid-column-gap: 17px;
}

.notify-list-link {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.notify-list-link:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.notify-list {
  width: 200px;
  height: 200px;
  background-color: #ffffffa6;
  color: black;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.display-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-content {
  display: -webkit-box; /* 웹킷 박스로 지정 */
  white-space: wrap; /* 텍스트가 줄바꿈 되게끔 설정 */
  -webkit-line-clamp: 6; /* n번째 줄까지 표시 */
  -webkit-box-orient: vertical; /* 수직 정렬 */
  overflow: hidden; /* 넘어가는 텍스트는 숨김 */
  text-overflow: ellipsis; /* 텍스트가 넘어가면 ...으로 표시 */
  font-size: 16px;
  margin-bottom: 0;
}

.remove-checkbox {
  position: absolute;
  right: 3px;
  top: 3px;
  transform: scale(1.3);
}

.hidden-check {
  display: none;
}

/*? 컨텐츠 영역 하단부분 */
/*! 수정 필요 */
.content-wrap-footer {
  display: flex;
  margin-top: 2%;
  margin-left: 0;
}

.pagination-wrap {
  position: absolute;
  display: flex;
  left: 45%;
  flex-grow: 1;
  text-align: center;
}

.pagination-num-wrap {
  align-items: center;
  margin-top: 3px;
}

.pagination-num {
  font-weight: 400;
}

/*? 추가, 삭제버튼 스타일 영역 */
.btn-wrap {
  display: inline;
  position: relative;
  top: 2%;
  left: 87%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ffffff00;
}

.add-btn {
  margin-right: 10px;
}

.remove-no {
  transform: rotate(45deg);
}

.add-btn, .remove-btn {
  font-size: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.add-btn:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.remove-btn:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* 모달 영역 스타일링 */
.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007c;
}

.hidden {
  display: none;
}

.modal-display {
  position: absolute;
  top: 20%;
  left: 38%;
  width: 460px;
  height: 500px;
  background-color: #eee;
  border: 1px solid black;
}

/* 컨텐츠 모달 스타일링 */
.content-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007c;
}

.content-modal {
  position: absolute;
  top: 20%;
  left: 38%;
  width: 460px;
  height: 500px;
  background-color: #eee;
  border: 1px solid black;
}

.content-modal-title, .content-modal-content {
  margin: 10px 25px 0;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.content-title {
  margin: 3px 25px 0 ;
  padding: 4px 5px;
  width: 410px;
  height: 30px;
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid rgb(200, 200, 200);
}

.content-contents {
  margin: 5px 25px 0;
  width: 410px;
  height: 320px;
  background-color: #ffffff;
  border: 1px solid rgb(200, 200, 200);
  overflow-x: hidden;
  word-break: break-all;
}

.content-modal-btn-wrap {
  text-align: center;
  margin-top: 30px;
}

.content-modal-ok-btn {
  background-color: #ffffff;
  border: 1px solid black;
  text-align: center;
  padding: 3px 8px;
  border-radius: 5px;
}

.content-modal-ok-btn:hover {
  background-color: #707070;
  color: #ffffff;
}

.input-name-title, .input-name-content {
  margin: 10px 25px 0;
  font-weight: 600;

  /* 텍스트간 사이 간격 */
  letter-spacing: 0.5px;
}

.title {
  margin: 0 25px;
  width: 410px;
  height: 30px;
}

.content {
  margin: 0 25px;
  width: 410px;
  height: 320px;
}

.modalBtn-wrap {
  margin-top: 20px;
  text-align: center;
}

.submit-btn {
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 5px;
}

.cancel-btn {
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 5px;
}

/* 삭제 모달 스타일 */
.modal-alert-display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007c;
}

.alert-remove {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 150px;
  top: 38%;
  left: 42%;
  background-color: #eee;
  border: 1px solid black;
}

.remove-confirm {
  text-align: center;
  margin: 20px 0 0 0;
}

.modal-cancel {
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.modal-cancel .fa-xmark {
  font-size: 14px;
}

.modal-cancel:hover {
  background-color: rgb(120, 120, 120);
}

.modal-cancel:active {
  background-color: rgb(80, 80, 80);
}

.remove-agree, .remove-cancel {
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  background-color: rgb(150, 150, 150);
}

.remove-agree {
  margin-right: 10px;
}

.remove-agree:hover {
  background-color: rgb(120, 120, 120);
}

.remove-agree:active {
  background-color: rgb(80, 80, 80);
}

.remove-cancel {
  margin-left: 10px;
}

.remove-cancel:hover {
  background-color: rgb(110, 110, 110);
}

.remove-cancel:active {
  background-color: rgb(80, 80, 80);
}

/* 컨텐츠 추가 예외처리 모달창 */
.content-add-error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007c;
}

.content-error-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 150px;
  top: 38%;
  left: 42%;
  background-color: #eee;
  border: 1px solid black;
}

.content-add-confirm {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.content-add-error-ok {
  border: 1px solid black;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  background-color: rgb(170, 170, 170);
}

.content-add-error-ok:hover {
  background-color: rgb(150, 150, 150);
}