.header {
  display: block;
  width: 100%;
  height: 88px;
  position: fixed;
  background-color: white;
  z-index: 99;
}

.nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.asan-logo {
  margin-right: 30px;
  margin-top: 10px;
}

.asan-navWrap .asan-navList {
  float: left;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 500;
}

.carousel-wrap {
  padding-top: 88px;
}

.carousel-list-wrap {
  position: relative;
  overflow: hidden;
}

.carousel-list-wrap .cell {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-section {
  position: absolute;
  width: 1100px;
  height: 100%;
}

.detail-btn {
  position: absolute;
  background-color: rgb(255, 180, 20);
  top: 300px;
  border: none;
  width: 170px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.detail-btn:hover {
  text-decoration: underline;
}

.carousel {
  width: auto;
  height: auto;
  overflow: hidden;
}

.carousel-list-wrap {
  display: flex;
}

.search-section {
  width: 100%;
  height: 80px;
  background-color: rgb(37, 170, 170);
  text-align: center;
  position: relative;
}

.search-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 100%;
}

.search-text {
  color: white;
  margin-right: 15px;
  font-size: 16px;
}

.input-wrap {
  position: relative;
}

.input {
  width: 550px;
  height: 50px;
  border-radius: 50px;
  padding: 0 60px 0 30px;
  border: none;
  outline: none;
}

.search-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.fa-magnifying-glass {
  font-size: 24px;
  cursor: pointer;
}

.main-wrap {
  padding: 70px 0;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

.service-wrap {
  text-align: center;
  width: 100%;
  max-width: 1100px;
  height: auto;
  max-height: 200px;
  position: relative;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  background-color: #f0f0f0;
  margin: 0 auto;
}

.service-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  position: relative;
}

.service-list li {
  display: inline-block;
  /* margin: 0 10px; */
  position: relative;
}

/*? 리스트 사이사이에 선을 추가하는 속성 */
.service-list li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  width: 1px;
  height: 60%;
  background-color: #cfcfcf;
  transform: translateY(-50%);
}

.service-list li a:hover {
  text-decoration: underline;
}

.service-100 a,
.service-101 a,
.service-102 a,
.service-103 a,
.service-104 a {
  display: block;
  width: 200px;
  height: 200px;
  padding-top: 140px;
  font-size: 18px;
  font-weight: 600;
}

.service-100 a {
  background: url('https://www.amc.seoul.kr/asan/images/mainNew/ico_serv_doc.png') no-repeat center center;
}

.service-101 a {
  background: url('	https://www.amc.seoul.kr/asan/images/mainNew/ico_serv_dept.png') no-repeat center center;
}

.service-102 a {
  background: url('https://www.amc.seoul.kr/asan/images/mainNew/ico_serv_resv.png') no-repeat center center;
}

.service-103 a {
  background: url('https://www.amc.seoul.kr/asan/images/mainNew/ico_serv_first.png') no-repeat center center;
}

.service-104 a {
  background: url('https://www.amc.seoul.kr/asan/images/mainNew/ico_serv_chart.png') no-repeat center center;
}

.print-wrap {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
  width: 100%;
  max-width: 1100px;
  text-align: center;
}

.print-wrap ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.print-wrap ul li {
  text-align: center;
}

.print-wrap ul li a {
  display: inline-block;
  width: 350px;
  height: 100%;
  background-color: #e6f7f9;
  font-weight: bold;
  line-height: 80px;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.certification {
  background-color: #d4f0f2;
}

.record {
  background-color: #b4e1e3;
}

.consent {
  background-color: #d4f0f2;
}


/* 반응형 스타일 영역 */