element {
  --main-text-color: black;
  --white-text-color: white;
}

/*? nav section */
/** 반응형 미디어쿼리 추가하기 */
.logo {

}

.blog-icons-wrap {
  cursor: default;
}

.github {
  display: inline-block;
  width: 26px;
  height: 26px;
}

.github-site {
  width: 100%;
  height: 100%;
}

.notion-blog {
  display: inline-block;
  width: 26px;
  height: 26px;
}

.notion {
  width: 100%;
  height: 100%;
}

/*? main section */
.home {
  
}

.aboutMe {
  
}

.project-skills {
  
}

.contact {
  
}

/*? footer section */